Repository stimulusreflex/cable_ready, pull requests merged in 2022-12, with the labels that each got.

#225 fix `updates_for` makes redundant calls
  javascript/elements/updates_for_element.js
Labels: bug, proposal, javascript

#232 Fix bug where using an array when calling (add/remove)_css_class didn…
  javascript/operations.js
  javascript/utils.js
Labels: bug, javascript

#234 set_title operation
  javascript/operations.js
  lib/cable_ready/config.rb
Labels: proposal, javascript
