Repository stimulusreflex/cable_ready, pull requests merged in 2023-01, with the labels that each got.

#222 remove strict dependencies on Active Record, Action Cable and Active Storage
  Gemfile.lock
  app/channels/cable_ready/stream.rb
  app/models/concerns/cable_ready/updatable.rb
  app/models/concerns/extend_has_many.rb
  cable_ready.gemspec
  lib/cable_ready.rb
  lib/cable_ready/broadcaster.rb
  lib/cable_ready/cable_car.rb
  lib/cable_ready/channel.rb
  lib/cable_ready/channels.rb
  lib/cable_ready/config.rb
  lib/cable_ready/identifiable.rb
  test/dummy/config/initializers/assets.rb
  test/lib/generators/cable_ready/channel_generator_test.rb
  test/support/generator_test_helpers.rb
  yarn.lock
Labels: proposal, ruby

#227 plugin system for external npm dependencies
  javascript/elements/index.js
  javascript/elements/updates_for_element.js
  javascript/index.js
  javascript/operations.js
  javascript/plugins.js
  javascript/test/operations.morph.test.js
  lib/cable_ready/config.rb
  test/lib/cable_ready/cable_car_test.rb
  test/lib/cable_ready/operation_builder_test.rb
Labels: enhancement, proposal, javascript

#236 Sync utils from StimulusReflex
  javascript/utils.js
Labels: enhancement, javascript

#242 chore: Make Updatable aware of Turbo Boost Commands
  javascript/updatable/inner_updates_compat.js
Labels: enhancement, javascript
